@tailwind base;
@tailwind components;
p{
  font-family: 'Bitter', Times, serif
}
@tailwind utilities;


body{
  overflow: hidden;
  max-height: 100vh;
  max-width: 100vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #242424;
  font-family: 'Radio Canada', serif;
}